{% extends 'base.html.twig' %}

{% block title %}Soirée{% endblock %}

{% block body %}

<body class=" color-biog">


<div class="container">
   <div class="row">

    <h1 classe="text-center p-5 " style="color:grey">Soirées</h1>
    <div class="glass3a">
    <p classe="text-center p-5 " style="color:orange;font-size: 1.8em; font-family: Helvetica Neue Light;">  <br>Discothèques  & bars (quelques souvenirs) </p>
</div>
    
            <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
                <img src="{{asset('assets/imag/s7.png')}}"  alt="...">
                
            </div>
        


    <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s1.png')}}"  alt="...">
        
        </div>
    
 
        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s2.png')}}"  alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s8.png')}}"  alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/testFly9.png')}}" height="200px" class="card-img-top" alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s5.png')}}" height="200px" class="card-img-top" alt="...">
        
        </div>


        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s6.png')}}"  height="200px" class="card-img-top  " alt="...">
        
        </div>
    

        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s3b.png')}} " height="200px" class="card-img-top " alt="...">
        
        </div>
        <div class="card border-alert mb-3 mx-auto p-1" style="width: 18rem;border-radius: 15px;">
        <img src="{{asset('assets/imag/s3a.png')}} " height="200px" class="card-img-top " alt="...">
        
        </div>
    
</div>
     
</body>

{% endblock %}
