{% extends 'base.html.twig' %}

{% block title %}Mariages{% endblock %}

{% block body %}


<body class="color-mariage " >
    
 

<div class="container ">

<div id="adcontainer " class=" glass p-5">
    <div class="row">
            <h1 class="mt-5  " style="color:white"> Mariages &</h1>
            <br> <br>
            <div class="glass3c">
                <h2 class="neon-text mt-2"><span id="colorText" >Anniversaires, séminaires, soirées campings...</span></h2>
            </div>
        <p style="color: white; font-size: 1.2em;"   classe=" ml-5 ">
        <br>
        Je vous propose, une animation soignée et adaptée à tout type d'événement.  <br>
                            Mariages, anniversaires, séminaires, campings... <br> <br>
                            Certains événements se préparent à l'avance. <br>
        L'ambiance musicale est l'élément majeur pour la réussite d'un mariage, d'un anniversaire ou autres... <br> 
        C'est pour cela que je vous accompagne jusqu'au jour J. <br>Nous étudierons ensemble la playlist et diverses interventions. <br> <br>
        Si vous choisissez l'option journée complète, je collaborerai aussi avec vos enfants ou autres pour la planification des jeux surprises, interventions micro, visionnages, etc. <br>
        <br>
        Ce jour est un moment unique et magique, le plus beau.<br>
        Bien coordonner et planifier, c'est garantir 90 % de réussite. <br>
        Savourez votre journée. <br>
        Vous avez juste à profiter de vos invitées. <br> 
        


<br>              



                       
</p>

 <p style="text-align:center; color: black; ">_______________________</p> 



{# <div class="mx-auto"> #}
        <div style="text-align:center; ">
        <br> <br> 
            <video autoplay controls width="340" preload="auto" poster="{{asset('assets/imag/logo2b.png') }}" >
                <source src="{{ asset('assets/video/camp1.mp4') }}" type="video/mp4">
                </video>
                <video  controls width="340" preload="auto" poster="{{asset('assets/imag/logo2b.png') }}">
                <source src="{{ asset('assets/video/v5.mp4') }}" type="video/mp4">
                </video>
                <video  controls width="340" preload="auto" poster="{{asset('assets/imag/logo2b.png') }}">
                <source src="{{ asset('assets/video/v7a.mp4') }}" type="video/mp4">
                </video>
        </div>
        
        
 </div> 
 </div> 

 
{# <br>
<br>

<br>
    <div class="container2 mb-3 mx-auto ">

        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2" >
        <input type="radio" name="slider" id="item-3" >
    
    <div class="cards2">
        <label for="item-1" class="card2" id="song-1">
            <img src="{{asset('assets/imag/Mariage1.png')}}" alt="song" >
        </label>
        <label for="item-2" class="card2" id="song-2">
            <img src="{{asset('assets/imag/Mariage2.png')}}" alt="song" >
        </label>
        <label for="item-3" class="card2" id="song-3">
            <img src="{{asset('assets/imag/Mariage3.png')}}" alt="song" >
        </label>
    </div>
</div>
 #}




</body>



{% endblock %}

