{% extends 'base.html.twig' %}

{% block title %}Schooldj{% endblock %}

{% block body %}

<body class=" color-school">
<div class="container">

<h1>School DJ Mixe</h1>
</div>





<div class=" container mt-5">
<div class="glass3e">
<h2 class=" neon-text " style="color:grey" >Student</h2>
</div>
<p  style="color: orange; font-family: Helvetica Neue Light; " >
<br>
À l'heure ou la technologie permet de simplifier les enchaînements. <br>
 Faire danser et créer une ambiance délirante pendant des heures n'est pas si simple.<br> <br>


Transmettre mes acquis, c'est aussi permettre à tous ceux qui le souhaitent, 
d'améliorer ses performances, <br> ou d'adopter les bons réflexes dès le départ. <br> <br>
<span style=" color: #00ff11;">
Un DJ, ce n'est pas, savoir enchaîner à la maison ou sur Tik Tok, 2 ou 3 titres en même temps, <br> faire des effets 
toutes les deux secondes avec la sirène et la cornes de brume étourdissantes et ringardes. <br> <br>
</span>
<span style=" font-size: 30px; color: grey; font-family: Helvetica Neue Light;">
Quelles sont les clés pour être un bon DJ ?</span> 
<br> Pour commencer, être un vrai passionné de musique. <br>
Puis..

<br>Savoir "ambiancer". <br> 
(Même si vous vous êtes spécialisé dans un style.)
<br> Créer la juste émotion, pour faire chanter. <br> Techniquement maîtriser le bon effet pour un enchaînement percucant et pour les plus expérimentés... <br> Sur le drop, faire monter la pression, 
l'émotion, créer l'effet de surprise, pour un lâché prise incroyable. <br>
Savoir aussi se servir d'un micro. <br> <br>
Et il y a tant d'autres choses à savoir mais la plus grande satisfaction.. <br>
C'est la réaction du public.
<br> <br>
Admirez ces instants de bonheur qui ont pu être capturés, ci-dessous. <br> 
Voilà pourquoi j'aime ce métier ! <br>







</p>

<div class="slider-container">
        <button class="direction-btn left">
          <img src="{{asset('assets/ressources/left-chevron.svg')}}" alt="left arrow">
        </button>
        <button class="direction-btn right">
          <img src="{{asset('assets/ressources/right-chevron.svg')}}" alt="right arrow">
        </button>
      
        <div class="slide slide-1 active">
          <div class="content">
            <img src="{{asset('assets/imag/club9.png')}}" alt="card profile">
            
            
          </div>
        </div>

        <div class="slide slide-2">
          <div class="content">
            <img src="{{asset('assets/imag/niag2.png')}}" alt="card profile">
          </div>
        </div>

        <div class="slide slide-3">
          <div class="content">
            <img src="{{asset('assets/imag/niag3.png')}}" alt="card profile">
            
            </div>
          </div>
          <div class="slide slide-4">
          <div class="content">
            <img src="{{asset('assets/imag/chaum2.png')}}" alt="card profile">
            
            </div>
          </div>
          
          <div class="slide slide-5">
          <div class="content">
            <img src="{{asset('assets/imag/chaum1.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-6">
          <div class="content">
            <img src="{{asset('assets/imag/club11.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-7">
          <div class="content">
            <img src="{{asset('assets/imag/club10.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/club2.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/club8.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/p30.png')}}" alt="card profile">
            
           </div> 
          </div>


       
      </div>

</body>

{% endblock %}
