{% extends 'base.html.twig' %}

{% block title %}Biographie{% endblock %}

{% block body %}

<body class=" color-biog">
    


<div class="container ">
<div class="row">

    <h1   style="color:grey">Biographie</h1>
<div class="glass3a">
    <p  style="font-size: 1.8em; color:orange; font-family: Helvetica Neue Light; ">  <br>Discothèques  & bars </p>
</div>
    
            <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
                <img src="{{asset('assets/imag/exp7.png')}}" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Discothèque La Chaumière</h5>
                    <p class="card-text">Situé au bord de la mer cette discothèque anthologique accueille un public merveilleux que je taquine une fois par mois. <br> </p>
                    {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                </div>
            </div>
        


    <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
        <img src="{{asset('assets/imag/exp4.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">B In House</h5>
            <p class="card-text">Bar chic, Bière / cocktail, depuis 2021, je mixe 2 fois par mois les vendredis à partir de 18h avec une ambiance lounge en afterwork et vers 21h, musique club jusqu'à 0h30. </p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        </div>
    
 
        <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
        <img src="{{asset('assets/imag/exp6.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Discothèque Le Niagara</h5>
            <p class="card-text">Pendant 3 ans, des ambiances de folie dans la méga boite situé à Missillac dans la salle 80</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        </div>
    

        <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
        <img src="{{asset('assets/imag/exp2.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Le Nuage la Baule</h5>
            <p class="card-text">Quelques sets dans ce bar de nuit ambiance chic et incontournable des soirées Bauloises , éclectique orienté, house, deep, lounge</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        </div>
    

        <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
        <img src="{{asset('assets/imag/exp3.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Le Garden Guerande</h5>
            <p class="card-text">Anciennement le Churchill, la Plage, Le Noir et blanc ce club a fait vibrer des millions de personnes, j'ai fait quelques sets au Garden dans la partie eightie's </p>
            
        </div>
        </div>
    

        <div class="card border-alert mb-3 mx-auto" style="width: 18rem; border-radius: 20px;">
        <img src="{{asset('assets/imag/exp1.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">L'Indiana la Baule</h5>
            <p class="card-text">Huit années magiques dans la discothèque du casino de la Baule. <br> Ce petit club chic ouvert 5 jours sur 7 qui à également accueilli des personnalités prestigieuses du show biz. Jean Dujardin, Garoux, Patrick Bruel, Depardieux etc..  </p>
            
        </div>
        </div>


        <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
        <img src="{{asset('assets/imag/exp5.png')}}"  height="200px" class="card-img-top  " alt="...">
        <div class="card-body">
            <h5 class="card-title">Le Pacha Club de Bordeaux</h5>
            <p class="card-text">Ma première mega boite, j'ai exercé pendant 2 ans dans ce complexe d'une capacité de 4 000 personnes divisé en trois parties. Les soirées y étaient incroyables. </p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        </div>
    

        <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
        <img src="{{asset('assets/imag/exp9.png')}} " height="200px" class="card-img-top " alt="...">
        <div class="card-body">
            <h5 class="card-title">et autres Résidences...</h5>
            <p class="card-text">2 ans au Star club Albi, quelques sets au Macumba de Saint Julien de genevois, la Forestière, Le Vicking, le Coconut's, le Casino de Saint-Malo</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        </div>
    
</div>
     
    <div>
    <p> <br><br> </p>
    </div>

    <h1 classe="text-center p-5 mt-5" style="color:grey">Discographie</h1>
<div class="glass3a">

    <p classe=" text-center p-5 " style="font-size: 1.8em; color:orange; font-family: Helvetica Neue Light;">  <br>Sortie vinyles </p>
  </div>
    

    <div class="row">
	

            <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
                <img src="{{asset('assets/imag/v1.png')}}" height="200px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">DiscoStyle : Lavishness / Full down</h5>
                        <p class="card-text">Sortie en 2000 avec le pseudo Disco Style sur le label Nice Music à Paris pressage à 5 000 exemplaires mixé par quelques geant de la House dont Didier Sinclair et David Guetta   </p>
                        {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                    </div>
            </div>
 
   

    <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
            
                <img src="{{asset('assets/imag/v2.png')}}" height="200px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DJ Scan & Vinzenso (petit Frenshy)</h5>
                    <p class="card-text">J'ai remixé sur le pseudo Deep William's leur titre exceptionnel between the sheets en seconde face. </p>
                    {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                </div>
    </div>
   

</div>



{# --------------------- #}


    <div>
    <p> <br><br> </p>
    </div>
     
<h1 style="color:grey">Radophonie</h1>
    <div class="glass3a" >
        <p  style="font-size: 1.8em; color:orange; font-family: Helvetica Neue Light;">  <br>Les radios </p>
    </div>
        
<div class="row">
		

    <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
        <img src="{{asset('assets/imag/rad1.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Europe 2 </h5>
            <p class="card-text">Des milliers de pubs en voix off sur la région Lorientaise<br> </p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
       
    </div>

    <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
    
        <img src="{{asset('assets/imag/rad2.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">RFM</h5>
            <p class="card-text"> Des milliers de pubs en voix off sur la region Lorientaise.</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
        
    </div>

    <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
        
        <img src="{{asset('assets/imag/rad3.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">NRJ</h5>
            <p class="card-text">Pubs en voix off à Bordeaux en même temps que le Pacha Club</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
       
    </div>

    <div class="card border-alert mb-3 mx-auto" style="width: 18rem;border-radius: 20px;">
        
        <img src="{{asset('assets/imag/rad4.png')}}" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Radio Menergy</h5>
            <p class="card-text">Animateur d'une émission club et House pendant 2 ans sur la première radio Albigeoise en même temps que ma résidence dans la dicothèque le Star club. </p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
    </div>
    


</div>
 </div>
	</div>	

    </body>
	{% endblock %}

