*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }

.color-disco1 {

  background-image: linear-gradient(rgba(255, 226, 121, 0.71), rgba(255, 98, 0, 0.5)),url("../imag/fondAfter2.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  /* min-height: 100vh;
  background: linear-gradient(to right, #119979, #e938ef);  */
  /* padding: clamp(20px, 12vw, 120px) 10px 10px; */
} 
.color-biog {

  background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.5)),url("../imag/fondAfter2.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  /* min-height: 100vh;
  background: linear-gradient(to right, #119979, #e938ef);  */
  /* padding: clamp(20px, 12vw, 120px) 10px 10px; */
} 

.color-school {
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 113, 5, 0.5)),url("../imag/school2.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.color-disco2 {
  
  min-height: 100vh;
  background: linear-gradient(to right, #994c11, #580e5b); 
  /* padding: clamp(20px, 12vw, 120px) 10px 10px;*/
}  
.color-disco3 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 98, 0, 0.5)),url("../imag/fondDisco3b.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  /* min-height: 100vh;
  background: linear-gradient(to right, #491207, #010045);  */
  /* padding: clamp(20px, 12vw, 120px) 10px 10px; */
} 

.color-mariage {
  
  background-image: linear-gradient(rgba(160, 255, 252, 0.791), rgba(251, 246, 151, 0.5)),url("../imag/fondMariage3.png");
  /* height: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  
  /*
  
  background: linear-gradient(to right, #a2fff9, #ffffb7); 
   padding: clamp(20px, 12vw, 120px) 10px 10px; */
} 

.video {
  width: 30%; 
  /* width: 10%; */
}


.slider-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #131313;
  border-radius: 5px;
  display: grid;
}
.direction-btn {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.direction-btn:hover {
  background: #181818;
}
.direction-btn img {
  width: 50%;
  pointer-events: none;
}
.direction-btn.right {
  right: 10%;
}
.direction-btn.left {
  left: 10%;
}

.slide {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color:rgba(76, 76, 76, 0.752);
  display: none;
}
.slide.active {
  display: flex;
}
.content {
  margin-bottom: 50px;
  color: #dfdfdf;
  text-align: center;
}
.content img {
  width: 550px;
  height: 550px;
  border-radius: 2%;
  object-fit: cover;
  object-position: center;
}
.content h2 {
  font-size: 24px;
  margin-top: 20px;
}
.content p {
  font-size: 20px;
  margin-top: 10px;
  color: gray;
}

.content button {
  font-size: 20px;
  padding: 10px;
  margin-top: 40px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
  cursor: pointer;
  min-width: 200px;
}

/* effet blur */

.container3 {
  /* width: 30%;
  height: 30%; */
  padding: 5px 5px 5px 5px;
  
}

#adcontainer{
  width: auto;
  height: auto;
  padding: 50px 20px 20px 50px;
}
/* .container3 {
  display: flex;
  justify-content: space-around;
  
} */


.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.414), rgba(0, 0, 0, 0.362));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255, 0.18);
  border-color: #ffffff;
  box-shadow: O 8px 32px 0 rgba(255,255,255, 0.37),;
}

.glass1 {
  background: linear-gradient(135deg, rgba(175, 174, 174, 0.424), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255, 0.18);
  border-color: #969696;
  box-shadow: O 8px 32px 0 rgba(255,255,255, 0.37),;
}


.glass2 {
  background: linear-gradient(135deg, rgba(11, 11, 11, 0.424), rgba(250, 4, 197, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(12, 12, 12, 0.18);
  box-shadow: O 8px 32px 0 rgba(27, 26, 26, 0.37),;
}
.glass3 {
  
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgb(11, 11, 11), rgba(250, 4, 197, 0));
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 20px;
  border: 1px solid rgb(12, 12, 12);
  box-shadow: O 8px 32px 0 rgb(27, 26, 26),;
  border-color: #828282;

}

.glass3a {
  width: 90%;
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgba(250, 4, 197, 0), rgba(249, 27, 2, 0.586));
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 20px;
  /* border: 1px solid rgb(252, 88, 18); */
  box-shadow: O 8px 32px 0 rgb(254, 106, 8),;
  /* border-color: #828282; */
  padding: 0.5%;
  margin-top: -20px;
}

.glass3b {
  width: 50%;
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgba(251, 109, 58, 0.586), rgba(250, 4, 197, 0));
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 20px;
  /* border: 1px solid rgb(252, 88, 18); */
  box-shadow: O 8px 32px 0 rgb(254, 106, 8),;
  /* border-color: #828282; */
  padding: 0.5%;
  margin-top: -15px;
}

.glass3c {
  width: 100%;
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgba(184, 184, 184, 0), rgb(254, 102, 32));
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px);*/
  border-radius: 10px; 
  /* border: 1px solid rgb(252, 88, 18); */
  box-shadow: O 8px 32px 0 rgb(254, 172, 8),;
  /* border-color: #ffffff; */
  padding: 1%;
  margin-top: -5px;
}
.glass3d {
  width: 100%;
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgba(255, 253, 253, 0), rgba(252, 76, 0, 0.559));
 /*  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  border-radius: 20px; 
  /* border: 1px solid rgb(252, 88, 18); */
  box-shadow: O 8px 32px 0 rgb(254, 106, 8),;
  /* border-color: #828282; */
  padding: 0.5%;
  margin-top: -45px;
}
.glass3e {
  width: 100%;
  /* box-sizing: 2px; */
  background: linear-gradient(135deg, rgba(255, 253, 253, 0), rgba(13, 255, 0, 0.559));
 /*  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  border-radius: 20px; 
  /* border: 1px solid rgb(252, 88, 18); */
  box-shadow: O 8px 32px 0 rgb(61, 61, 61),;
  /* border-color: #828282; */
  padding: 0.5%;
  margin-top: -45px;
}



/* #wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	height: 100%;
	min-height: 100%;
} */

