/*
* {
    margin: 0;
    padding: 0;
  }
  */
  html,
  body {
    height: 100%;
    background-color: black;
    /* for touch screen */
    /* touch-action:auto; */
    overflow-x: scroll;
  }
 
  body {

     
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    
     /*
    overflow: hidden;

     display: -ms-flexbox;
    
    
   
    display: -webkit-box;
     display: flex;
    
    */
    
    background: #111;
   
  }
/* 
  h1 {
    font-size: clamp(24px, 8vw, 80px);
    display: inline-block;
    font-weight: 800;
    color: #f0f0f0;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #999, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
  }
  h1::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background: #ebebeb;
    right: -10px;
    top: 0;
    animation: carret 1s infinite;
  }
  */
  #drag-container, #spin-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  
  #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    border-radius: 3%;
    left: 0;
    top: 0;
    width: 220%;
    height: 200%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
            box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  }
  
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  }
  
  #drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    color: #fff;
  }
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  /**

  .container {
    width: 500px;
    height: 300px;
    margin: 200px auto;
  }

.glass {

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, O, 0.37);
}
**/

/* carousel2 2 */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #000000;
} */

/* .carousel2 {
    height: 700px;
    perspective: 600px;
    transform: translateY(-100px);
}

.carousel2 .carousel2-item {
    cursor: grab;
    width: 400px;
}

.carousel2 .carousel2-item:active {
    cursor: grabbing;
}

.carousel2 .carousel2-item img {
    width: 100%;
}

.carousel2 .carousel2-item h3 {
    background-color: #ffffff;
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    margin: -5px 0 0;
    padding: 10px 5px;
    text-align: center;
}





  


  
   */


   /* Carousel */



input[type="radio"]{
  display: none;
}
.card2{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: trasform 0.4s ease;
  cursor: pointer;
}

.container2{
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards2{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;

}


#item-1:checked ~ .cards2 #song-3,
#item-2:checked ~ .cards2 #song-1,
#item-3:checked ~ .cards2 #song-2
{
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;

}


#item-10:checked ~ .cards2 #song-8,
#item-9:checked ~ .cards2 #song-6,
#item-4:checked ~ .cards2 #song-4,
#item-1:checked ~ .cards2 #song-2,
#item-2:checked ~ .cards2 #song-3,
#item-3:checked ~ .cards2 #song-1,
#item-4:checked ~ .cards2 #song-5,
#item-6:checked ~ .cards2 #song-7,
#item-8:checked ~ .cards2 #song-9{
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;

}
#item-1:checked ~ .cards2 #song-1,
#item-2:checked ~ .cards2 #song-2,
#item-3:checked ~ .cards2 #song-3,
#item-1:checked ~ .cards2 #song-4,
#item-1:checked ~ .cards2 #song-5,
#item-1:checked ~ .cards2 #song-6,
#item-1:checked ~ .cards2 #song-7,
#item-1:checked ~ .cards2 #song-8,
#item-1:checked ~ .cards2 #song-9,
#item-1:checked ~ .cards2 #song-10{
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

}
#item-1:checked ~ .cards2 #song-1 img,
#item-2:checked ~ .cards2 #song-2 img,
#item-3:checked ~ .cards2 #song-3 img
#item-3:checked ~ .cards2 #song-4 img
#item-3:checked ~ .cards2 #song-5 img
#item-3:checked ~ .cards2 #song-6 img
#item-3:checked ~ .cards2 #song-7 img
#item-3:checked ~ .cards2 #song-8 img
#item-3:checked ~ .cards2 #song-9 img
#item-3:checked ~ .cards2 #song-10 img{
  
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

