{% extends 'base.html.twig' %}

{% block title %}Discotheque{% endblock %}

{% block body %}

<body class="color-disco3">
{# <IMG class="displayed" src="{{asset('assets/imag/test3.png')}}" alt="..."> #}
  
<div class="container ">
<h1 classe="text-center p-5" style="color: white">Discothèque <br> <br></h1>
{# <div class="glass pt-1" style="width: auto"> #}
<div class="glass3a  " >
  <h2 class="neon-text"  > Enjoy party people </h2>
</div>

<div class="row">
<div class="container3 glass1 " >
  <p style="color: orange; font-size: 1.2em; font-family: system-ui;" classe=" m-5 ">
 
   House, EDM, Radio Hits, Latino, Reggeaton, Urbain, Disco, Funk, Soul, R&B, Pop, Rock, 70's, 80's, 90's, 2000..
  <br>
  Danser, chanter, amuser.. <br>
            Créer une ambiance durable et la plus incroyable possible (adapté à l'établissement) est l'objectif de mes soirées.<br>  

  </p>
<p style="text-align:center; color: black; ">_______________________</p> 
  
<div style="text-align:center; "  >
          
            <video class="video"  autoplay controls preload="auto" poster="{{asset('assets/imag/logo3a.png') }}" >
                <source src="{{ asset('assets/video/disco3.mp4') }}" type="video/mp4">
            </video>
            
            <video class="video"  controls preload="auto" poster="{{asset('assets/imag/logo2b.png') }}" >
                <source src="{{ asset('assets/video/v2.mp4') }}" type="video/mp4">
            </video>
            <video class="video"  controls preload="auto" poster="{{asset('assets/imag/logo2b.png') }}" >
                <source src="{{ asset('assets/video/disco2.mp4') }}" type="video/mp4">
            </video>
            <video class="video"  controls preload="auto" poster="{{asset('assets/imag/logo2b.png') }}" >
                <source src="{{ asset('assets/video/v8.mp4') }}" type="video/mp4">
            </video>
            {# <video class="video"  controls >
                <source src="{{ asset('assets/video/v6.mp4') }}" type="video/mp4">
            </video> #}
</div>
</div>
</div>

<br> <br> <br> <br> <br> <br>

{# 
<div class="container2 mb-3 mx-auto ">

    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2" >
    <input type="radio" name="slider" id="item-3" >
    
    <div class="cards2">
    <label for="item-1" class="card2" id="song-1">
     <img src="{{asset('assets/imag/niag4.jpeg')}}"  alt="song" >
    </label>
    <label for="item-2" class="card2" id="song-2">
   <img src="{{asset('assets/imag/niag3.jpg')}}" alt="song" >
    </label>
    <label for="item-3" class="card2" id="song-3">
    <img src="{{asset('assets/imag/chaum1.jpg')}}" alt="song" >
    </label>
    <label for="item-4" class="card2" id="song-4">
    <img src="{{asset('assets/imag/niag1.jpg')}}" alt="song" >
    </label>
    <label for="item-5" class="card2" id="song-5">
    <img src="{{asset('assets/imag/niag2.jpg')}}"  alt="song" >
    </label>
    <label for="item-6" class="card2" id="song-6">
    <img src="{{asset('assets/imag/niag3.jpg')}}" alt="song" >
    </label>
    <label for="item-7" class="card2" id="song-7">
    <img src="{{asset('assets/imag/club1.jpg')}}" alt="song" >
    </label>

    <label for="item-8" class="card2" id="song-8">
    <img src="{{asset('assets/imag/club2.jpeg')}}" alt="song" >
    </label>

    <label for="item-9" class="card2" id="song-9">
    <img src="{{asset('assets/imag/club3.jpeg')}}"  alt="song" >
    </label>
    <label for="item-10" class="card2" id="song-10">
     <img src="{{asset('assets/imag/club4.jpeg')}}" alt="song" >
    </label>
</div> #}


{# photos #}


<div class="slider-container">
        <button class="direction-btn left">
          <img src="{{asset('assets/ressources/left-chevron.svg')}}" alt="left arrow">
        </button>
        <button class="direction-btn right">
          <img src="{{asset('assets/ressources/right-chevron.svg')}}" alt="right arrow">
        </button>
      
        <div class="slide slide-1 active">
          <div class="content">
            <img src="{{asset('assets/imag/club2.png')}}" alt="card profile">
            
            
          </div>
        </div>

        <div class="slide slide-2">
          <div class="content">
            <img src="{{asset('assets/imag/niag2.png')}}" alt="card profile">
          </div>
        </div>

        <div class="slide slide-3">
          <div class="content">
            <img src="{{asset('assets/imag/niag3.png')}}" alt="card profile">
            
            </div>
          </div>
          <div class="slide slide-4">
          <div class="content">
            <img src="{{asset('assets/imag/chaum2.png')}}" alt="card profile">
            
            </div>
          </div>
          
          <div class="slide slide-5">
          <div class="content">
            <img src="{{asset('assets/imag/club4.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-6">
          <div class="content">
            <img src="{{asset('assets/imag/club11.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-7">
          <div class="content">
            <img src="{{asset('assets/imag/club10.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-8">
          <div class="content">
            <img src="{{asset('assets/imag/p21.png')}}" alt="card profile">
            
           </div> 
          </div>

          <div class="slide slide-9">
          <div class="content">
            <img src="{{asset('assets/imag/chaum1.png')}}" alt="card profile">
            
           </div> 
          </div>

<div class="slide slide-10">
          <div class="content">
            <img src="{{asset('assets/imag/club8.png')}}" alt="card profile">
            
           </div> 
          </div>

<div class="slide slide-11">
          <div class="content">
            <img src="{{asset('assets/imag/club3.png')}}" alt="card profile">
            
           </div> 
          </div>

<div class="slide slide-12">
          <div class="content">
            <img src="{{asset('assets/imag/club7.png')}}" alt="card profile">
            
           </div> 
          </div>
        
        <div class="slide slide-13">
          <div class="content">
            <img src="{{asset('assets/imag/club9.png')}}" alt="card profile">
            
            
          </div>
        </div>




       
      </div>


</body>



{% endblock %}
