<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('assets/imag/p21.png')}}">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap"rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        
        <link rel="stylesheet" href="{{asset('assets/css/style8.css')}}">
        
        <link rel="stylesheet" href="{{asset('assets/css/style7.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/slider.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</head>

    <div id="taille" class="nav1"  >
        <div   id="side-bar">

            <div class="toggle-btn" id="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul>
       
                    <li> <a style="color:white" href="{{path('app_home')}}">Accueil</a></li>
                    <li> <a style="color:white" href="{{path('app_biographie')}}">Biographie</a></li>
                    <li> <a style="color:white" href="{{path('app_discotheque')}}">Discothèque</a></li>
                    <li> <a style="color:white" href="{{path('app_soiree')}}">Soirées</a></li>
                    <li> <a style="color:white" href="{{path('app_mariages')}}">Mariage</a></li>
                    <li> <a style="color:white" href="{{path('app_afterwork')}}">Afterwork</a></li>
                    <li> <a style="color:white" href="{{path('app_schooldj')}}">DJ School</a></li>       
                    <li> <a style="color:white" href="{{path('app_materiel')}}">Matériel</a></li>
                    <li> <a style="color:white" href="{{path('app_portefolio')}}">Album </a></li>
                                   
            </ul>
  		</div>
      
    </div>


    {# suppressiondu header #}
    {# <header> #}
            
                <div id="accueilneon"   class=" text-center"  >
                    <br> </br>
                    <br> </br>
                    
                    <h1 class=" sizeT neon-text mt-5 "><b>DJ P</b>atri<i>ce.b</i></h1>
                    <h2 style="color:white; font-size:30px;" class="neon-text" >

         06 32 1<i>6 17 37 </i>
        
        </h2>
                    <br> </br>
                    <!--<h2 class="text-center mt-5">J'aime</h2>
            
                    <h2 class="text-center mt-5">Créer, l'ambiance la plus incroyable possible</h2>
                    -->
                </div>
    
       
    {# </header> #}
    
       
    
    <body>
        {% block body %}{% endblock %}
        
        {# cdnjs #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        {# Bootstrap #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    {# Test #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/ScrollTrigger.min.js"></script>       
        {# <script src="https://assets.codepen.io/16327/gsap-latest-beta.min.js?r=3.11.2d"></script>#}
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script> #}
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.5/ScrollTrigger.min.js"></script>  #}
	    
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script> #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script> #}
	
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> #}
		{# <script src="{{ asset('assets/js/app2.js') }}"></script> #}
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script> #}
        
        {# ?? #}
		{# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
         #}

        {# carousel #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         #}
        
        {# <script src="{{asset('assets/js/app2.js')}}"></script> #}
        <script src="{{ asset('assets/js/app.js') }}"></script>
        <script src="{{ asset('assets/js/slider.js') }}"></script>


        
    </body>
</html>
